<div class="card card-item">
    <div class="card-content">
        <label class="card-label">Question</label>
        <div><%= card.question %></div>
        <br>
        <label class="card-label">Answer</label>
        <div><%= card.answer %></div>
        <% if(card.image && card.image.url) { %>
            <div>
                <img src="<%= card.image.url %>" width="200px"/>
            </div>
        <% } %>
    </div>
    <% if(currentUser && deck.author.equals(currentUser._id)) { %>
        <br>
        <div class="card-controls">
            <a class="btn btn-primary" href="/decks/<%= deck.id %>/cards/<%= card.id %>/edit">Edit card</a>
            <div class="btn btn-delete">
                <form action="/decks/<%= deck.id %>/cards/<%= card.id %>?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-danger" value="Delete card">
                </form>
            </div>
        </div>
    <% } %>
</div>