<% if(decks.totalPages > 1) { %>
<ul class="pagination">
    <% if(decks.hasPrevPage) { %>
        <li class="page-item">
            <a class="page-link" type="button" href="/decks?page=<%= decks.prevPage %>">Prev</a>
        </li>
    <% } %>
    <% for(let i = 1; i <= decks.totalPages; i++) { %>
        <li class="page-item">
            <a class="page-link" type="button" href="/decks?page=<%= i %>"
            <%= i === decks.page ? 'style=color:#000;' : '' %>
            >
                <%= i %>
            </a>
        </li>
    <% } %>
    <% if(decks.hasNextPage) { %>
        <li class="page-item">
            <a class="page-link" type="button" href="/decks?page=<%= decks.nextPage %>">Next</a>
        </li>
    <% } %>
</ul>
<% } %>