<div style="margin: 20px 0;">
    <% if(decks.hasPrevPage) { %>
        <a href="/decks?page=<%= decks.prevPage %>">Prev</a>
    <% } %>
    <% for(let i = 1; i <= decks.totalPages; i++) { %>
        <a href="/decks?page=<%= i %>"
        <%= i === decks.page ? 'style=color:#000;' : '' %>
        >
            <%= i %>
        </a>
    <% } %>
    <% if(decks.hasNextPage) { %>
        <a href="/decks?page=<%= decks.nextPage %>">Next</a>
    <% } %>
</div>