<div>
    Author: <%= review.author.username %>
    <br>
    <%= review.body %>
    <br>
    <br>
    Rating:
    <p class="starability-result" data-rating="<%= review.rating %>">
      Rated: <%= review.rating %> stars
    </p>
</div>

<% if(currentUser && review.author.equals(currentUser._id)) { %>
    <form action="/decks/<%= deck.id %>/reviews/<%= review.id %>?_method=PUT" method="POST" class="edit-review-form">
        <textarea placeholder="Leave a review..." name="review[body]" cols="30" rows="10"><%= review.body %></textarea>
        <fieldset class="starability-basic">
            <legend>Rating:</legend>
            <input type="radio" id="edit-rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
            <input type="radio" id="edit-rate1" name="review[rating]" value="1" />
            <label for="edit-rate1" title="Terrible">1 star</label>
            <input type="radio" id="edit-rate2" name="review[rating]" value="2" />
            <label for="edit-rate2" title="Not good">2 stars</label>
            <input type="radio" id="edit-rate3" name="review[rating]" value="3" />
            <label for="edit-rate3" title="Average">3 stars</label>
            <input type="radio" id="edit-rate4" name="review[rating]" value="4" />
            <label for="edit-rate4" title="Very good">4 stars</label>
            <input type="radio" id="edit-rate5" name="review[rating]" value="5" />
            <label for="edit-rate5" title="Amazing">5 stars</label>
        </fieldset>

        <button class="btn btn-secondary clear-rating" type="button">Clear Rating</button>
        
        <input class="btn btn-primary" type="submit" value="Update">
    </form>

    <div>
        <button class="toggle-edit-form btn btn-secondary">Edit</button>

        <div class="btn btn-delete">
            <form action="/decks/<%= deck.id %>/reviews/<%= review.id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
    </div>
    
    <script>
        $('#edit-rate<%= review.rating %>').prop('checked', true);
    </script>
<% } %>
<hr>