<form action="<%= private ? '/decks/mine' : '/decks' %>" method="GET" class="form search-form card p-3">
    <div class="form-fields">
        <fieldset class="form-group">
            <legend>Search</legend>
            <input class="form-control" type="text" id="search" name="search" value="<%= query.search ? query.search : '' %>" placeholder="Search by title, description, or subject...">
        </fieldset>

        <fieldset class="form-group rating-field">
            <legend>Rating</legend>
            <div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" id="zero-stars" value="0" name="avgRating[]" <%= query.avgRating && query.avgRating.includes('0') ? 'checked' : '' %>>
                    <label class="form-check-label" for="zero-stars">0 stars</label>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" id="one-star" value="1" name="avgRating[]" <%= query.avgRating && query.avgRating.includes('1') ? 'checked' : '' %>>
                    <label class="form-check-label" for="one-star">1 star</label>
                </div>
            </div>
            <div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" id="two-stars" value="2" name="avgRating[]" <%= query.avgRating && query.avgRating.includes('2') ? 'checked' : '' %>>
                    <label class="form-check-label" for="two-stars">2 stars</label>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" id="three-stars" value="3" name="avgRating[]" <%= query.avgRating && query.avgRating.includes('3') ? 'checked' : '' %>>
                    <label class="form-check-label" for="three-stars">3 stars</label>
                </div>
            </div>
            <div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" id="four-stars" value="4" name="avgRating[]" <%= query.avgRating && query.avgRating.includes('4') ? 'checked' : '' %>>
                    <label class="form-check-label" for="four-stars">4 stars</label>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" id="five-stars" value="5" name="avgRating[]" <%= query.avgRating && query.avgRating.includes('5') ? 'checked' : '' %>>
                    <label class="form-check-label" for="five-stars">5 stars</label>
                </div>
            </div>
        </fieldset>
    </div>

    <fieldset>
        <a class="btn btn-link px-0" href="<%= private ? '/decks/mine' : '/decks' %>">Clear All</a>
    </fieldset>

    <fieldset>

        <input class="btn btn-primary" type="submit">
    </fieldset>
</form>