<% layout('layouts/boilerplate') -%>
<h1>Edit Deck!</h1>

<form id="deckEditForm" action="/decks/<%= deck.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    Title
    <div>
        <input type="text" name="deck[title]" placeholder="Title" value="<%= deck.title %>">
    </div>
    <br>
    Description
    <div>
        <textarea name="deck[description]" placeholder="Description"><%= deck.description %></textarea>
    </div>
    <div>
        <input type="file" id="imageUpload" accept="images/*" name="images" multiple>
        <% deck.images.forEach(function(image, i) { %>
            <img src="<%= image.url %>" width="100px" alt="" />
            <label for="image<%= i %>">Delete?</label>
            <input type="checkbox" name="deleteImages[]" id="image<%= i %>" value="<%= image.public_id %>" class="imageDeleteCheckbox">
        <% }); %>
    </div>

    <br>
    <input type="submit">
</form>

<script src="/javascripts/deck-edit.js"></script>

<!--
Deck
- title - string
- description - string
- cards - array of objects ref Card
- reviews - array of objects ref Review
- author - object id (ref user)
-->