<h1>Edit Deck!</h1>

<form id="deckEditForm" action="/decks/<%= deck.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    Title
    <div>
        <input type="text" name="deck[title]" placeholder="Title" value="<%= deck.title %>">
    </div>
    <br>
    Description
    <div>
        <textarea name="deck[description]" placeholder="Description"><%= deck.description %></textarea>
    </div>
    <div>
        <input type="file" id="imageUpload" accept="images/*" name="images" multiple>
        <% deck.images.forEach(function(image, i) { %>
            <img src="<%= image.url %>" width="100px" alt="" />
            <label for="image<%= i %>">Delete?</label>
            <input type="checkbox" name="deleteImages[]" id="image<%= i %>" value="<%= image.public_id %>" class="imageDeleteCheckbox">
        <% }); %>
    </div>

    <br>
    <input type="submit">
</form>

<script>
    let deckEditForm = document.getElementById('deckEditForm');
    // add submit listener to deck edit form
    deckEditForm.addEventListener('submit', (event) => {
        // Find number of uploaded images
        let imgUploads = document.getElementById('imageUpload').files.length;
        // Find total number of existing images
        let imgExisting = document.querySelectorAll('.imageDeleteCheckbox').length;
        // find total number of potential deletions
        let imgDeletions = document.querySelectorAll('.imageDeleteCheckbox:checked').length;
        // figure out if the form can be submitted or not
        let newTotal = imgExisting - imgDeletions + imgUploads;
        if(newTotal > 4) {
            event.preventDefault();
            alert(`You cannot upload more than 4 images. Please delete at least ${newTotal - 4} image(s).`);
        }
    });

</script>

<!--
Deck
- title - string
- description - string
- cards - array of objects ref Card
- reviews - array of objects ref Review
- author - object id (ref user)
-->