<% layout('layouts/template') -%>
<h1><%= title %></h1>

<% if(currentUser) { %>
    <div class="mb-2">
        <a class="btn btn-link px-0" href="/decks/new">
            <i class="fas fa-plus"></i>
            Create a new deck
        </a>
    </div>
<% } %>

<% include ../partials/paginate/decks %>

<%- include('../partials/decks/search-filter', { private: typeof private !== 'undefined' ? private : false }) %>

<div class="deck-grid">
    <% decks.docs.forEach(function(deck) { %>
        <a class="deck-link" href="/decks/<%= deck.id %>">
            <div class="deck text-center">
                <% if(deck.public === false) { %>
                    <div class="deck-p" data-toggle="tooltip" data-placement="top" title="This deck is private.">P</div>
                <% } %>
                <% if(deck.image && deck.image.url) { %>
                    <img width="200" src="<%= deck.image.url %>" alt="<%= deck.title %>">
                <% } %>
                <h1><%= deck.title %></h1>

                <% if(deck.avgRating) { %>
                <div class="starability-result" data-rating="<%= Math.round(deck.avgRating * 2) / 2; %>">
                    Rated: <%= Math.round(deck.avgRating * 2) / 2; %> stars
                </div>
                <% } %>

                <div class="deck-desc"><%= deck.description %></div>
                <div class="subjects">
                    <% for(let i = 0; i < deck.subjects.length; i++) { %>
                        <% if(i >= 5) { %>
                            ...
                            <% break; %>
                        <% } %>
                        <div class="badge badge-secondary"><%= deck.subjects[i] %></div>
                    <% } %>
                </div>
                <div class="deck-buttons">
                    <div class="btn btn-primary">
                        View Deck
                    </div>
                </div>
            </div>
        </a>
    <% }); %>
</div>


<% include ../partials/paginate/decks %>