<% layout('layouts/template') -%>

<a class="text-dark" href="/decks/<%= deck.id %>"><h1><%= deck.title %></h1></a>

<div id="review-page">
    <div class="review-form animated faster text-center card">
        <small id="card-side-icon">Q</small>
        <img width="200" src="" alt="" id="image" />
        <h2 id="card-display" class="m-5"></h2>
        <small>Click to flip</small>
    </div>

    <%- include('../partials/modal', { target: 'flipWarning', title: 'Warning', text: 'This will restart your review.' }) %>
    <div class="review-control-box card">
        <div class="row">
            <div class="col-6">
                <button id="prev" type="submit" class="btn btn-primary review-control"><i class="fas fa-chevron-left"></i><span class="d-none d-sm-inline"> Prev</span></button>
            </div>
            <div class="col-6 text-right">
                <button id="next" type="submit" class="btn btn-primary review-control"><span class="d-none d-sm-inline">Next </span><i class="fas fa-chevron-right"></i></button>
                <a id="back" type="submit" href="/decks/<%= deck.id %>" class="btn btn-secondary review-control">Back to Deck</a>
            </div>
        </div>
        <div class="row form-inline review-settings mt-3">
            <div class="form-group text-center">
                <button type="button" id="flipCardState" class="btn btn-info" data-toggle="modal" data-target="#flipWarning">
                    Flip Cards
                </button>
            </div>
            
            <div class="form-group">
                <label for="animationState">Animation</label>
                <select id="animationState" class="form-control">
                    <option selected value="on">On</option>
                    <option value="off">Off</option>
                </select>
            </div>
        </div>
    </div>

    
    <div id="end-form" class="text-center card">
        <div class="button-group">
            <a class="btn btn-primary" href="/decks/<%= deck.id %>">View Deck</a>
            <a class="btn btn-secondary" href="/decks/<%= deck.id %>/review">Try Again</a>
        </div>
    </div>

    <% if(deck && deck.cards) { %>
        <script type="text/javascript">
            const mydeck = <%- JSON.stringify(deck.cards.map(e => {
                const { question, answer, image } = e;
                if(image && image.url) return { question, answer, image }
                else return { question, answer }
            })) %>
        </script>
    <% } %>
</div>

<script src="/javascripts/decks/review.js"></script>