<% layout('layouts/boilerplate') -%>

<a class="text-dark" href="/decks/<%= deck.id %>"><h1><%= deck.title %></h1></a>

<div class="review-page">
    <div id="review-form" class="animated faster text-center card">
        <small id="card-side-icon">Q</small>
        <img width="200" src="" alt="" id="image" />
        <h2 id="card-display" class="m-5"></h2>
    </div>

    <div class="review-control-box card">
        <div class="row">
            <div class="col-6">
                <button id="prev" type="submit" class="btn btn-primary review-control"><i class="fas fa-chevron-left"></i><span class="d-none d-sm-inline"> Prev</span></button>
            </div>
            <div class="col-6 text-right">
                <button id="next" type="submit" class="btn btn-primary review-control"><span class="d-none d-sm-inline">Next </span><i class="fas fa-chevron-right"></i></button>
                <a id="back" type="submit" href="/decks/<%= deck.id %>" class="btn btn-secondary review-control">Back to Deck</a>
            </div>
        </div>
    </div>

    <div id="end-form" class="text-center card">
        <div class="button-group">
            <a class="btn btn-primary" href="/decks/<%= deck.id %>">View Deck</a>
            <a class="btn btn-secondary" href="/decks/<%= deck.id %>/review">Try Again</a>
        </div>
    </div>

    <% if(deck && deck.cards) { %>
        <script type="text/javascript">
            const mydeck = <%- JSON.stringify(deck.cards.map(e => {
                if(e.image && e.image.url) return { question: e.question, answer: e.answer, image: { url: e.image.url } }
                else return { question: e.question, answer: e.answer }
            })) %>
        </script>
    <% } %>
</div>

<script src="/javascripts/deck-review.js"></script>