<% layout('layouts/boilerplate') -%>

<%- include('../partials/deck-header', { deck }) %>

<br>
<br>

<h2>Cards</h2>
<% if(deck.cards.length < 1) { %>
    <p>This deck still doesn't have any cards!</p>
<% } else { %>
    <div class="form-group">
        <label for="viewCtrl">View</label>
        <select id="viewCtrl" class="form-control">
            <option selected value="card">Cards</option>
            <option value="list">List</option>
        </select>
    </div>
    <div class="card-grid show">
        <% deck.cards.forEach(function(card, i) { %>
            <%- include('../partials/card', { card, i }) %>
        <% }); %>
    </div>
    <div class="card-list">
        <% deck.cards.forEach(function(card, i) { %>
            <%- include('../partials/card', { card, i }) %>
        <% }); %>
    </div>
<% } %>

<br>
<br>

<h2>Create a Review</h2>
<% if(currentUser) { %>
<form action="/decks/<%= deck.id %>/reviews" method="POST">
    <textarea class="form-control" placeholder="Leave a review..." name="review[body]" rows="6" required minlength="10"></textarea>
    <fieldset class="starability-basic">
        <legend>Rating:</legend>
        <input type="radio" id="rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
        <input type="radio" id="rate1" name="review[rating]" value="1" />
        <label for="rate1" title="Terrible">1 star</label>
        <input type="radio" id="rate2" name="review[rating]" value="2" />
        <label for="rate2" title="Not good">2 stars</label>
        <input type="radio" id="rate3" name="review[rating]" value="3" />
        <label for="rate3" title="Average">3 stars</label>
        <input type="radio" id="rate4" name="review[rating]" value="4" />
        <label for="rate4" title="Very good">4 stars</label>
        <input type="radio" id="rate5" name="review[rating]" value="5" />
        <label for="rate5" title="Amazing">5 stars</label>
    </fieldset>
      
    <button class="clear-rating btn btn-secondary" type="button">Clear Rating</button>
    
    <input class="btn btn-primary" type="submit">
</form>
<% } else { %>
<a href="/users/login?returnTo=true">Login to create a review...</a>
<% } %>

<br>
<br>

<h3>Reviews</h3>
<% if(deck.reviews.length < 1) { %>
    <p>This deck still hasn't been reviewed!</p>
<% } else { %>
    <% if(deck.reviews.length > 12) { %>
        <%- include('../partials/paginate-reviews', { reviews: deck.reviews }) %>
    <% } %>
    <% let page = 0; %>
    <% for(let i = 0; i < deck.reviews.length; i++) { %>
        <% if(i % 12 === 0) { %>
            <div class="review-page-<%= ++page %> <%=page === 1 ? 'show' : ''%>">
        <% } %>
        <%- include('../partials/review', { review: deck.reviews[i] }) %>
        <% if(i % 12 === 11) { %>
            </div>
        <% } %>
    <% } %>
<% } %>


<script src="/javascripts/deck-show.js"></script>