<% layout('layouts/boilerplate') -%>
<h1><%= deck.title %></h1>
<div>
    <% deck.images.forEach(function(image) { %>
        <img src="<%= image.url %>" alt="Deck image" width="200px">
    <% }); %>
</div>
<div>Description: <%= deck.description %></div>
<div>
    <a href="/decks/<%= deck.id %>/cards/new">
        <button>Add a card</button>
    </a>
</div>
<div>
    <a href="/decks/<%= deck.id %>/edit">
        <button>Edit</button>
    </a>
</div>
<div>
    <form action="/decks/<%= deck.id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
</div>

<br>
<br>

<% cards.forEach(function(card) { %>
    <div>
        <div>Question: <%= card.question %></div>
        <div>Answer: <%= card.answer %></div>
        <% if(card.image && card.image.url) { %>
            <div>
                <img src="<%= card.image.url %>" width="200px"/>
            </div>
        <% } %>
        <div><a href="/decks/<%= deck.id %>/cards/<%= card.id %>/edit">Edit card</a></div>
        <div>
            <form action="/decks/<%= deck.id %>/cards/<%= card.id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete card">
            </form>
        </div>
    </div>
    <br>
<% }); %>

<!--
Deck
- title - string
- description - string
- cards - array of objects ref Card
- reviews - array of objects ref Review
- author - object id (ref user)
-->