<% layout('layouts/boilerplate') -%>
<h1><%= deck.title %></h1>
<div>
    <% deck.images.forEach(function(image) { %>
        <img src="<%= image.url %>" alt="Deck image" width="200px">
    <% }); %>
</div>
<div>Description: <%= deck.description %></div>
<div>
    <a href="/decks/<%= deck.id %>/cards/new">
        <button>Add a card</button>
    </a>
</div>
<div>
    <a href="/decks/<%= deck.id %>/edit">
        <button>Edit</button>
    </a>
</div>
<div>
    <form action="/decks/<%= deck.id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
</div>

<br>
<br>

<h2>Cards</h2>
<% deck.cards.forEach(function(card) { %>
    <div>
        <div>Question: <%= card.question %></div>
        <div>Answer: <%= card.answer %></div>
        <% if(card.image && card.image.url) { %>
            <div>
                <img src="<%= card.image.url %>" width="200px"/>
            </div>
        <% } %>
        <div><a href="/decks/<%= deck.id %>/cards/<%= card.id %>/edit">Edit card</a></div>
        <div>
            <form action="/decks/<%= deck.id %>/cards/<%= card.id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete card">
            </form>
        </div>
    </div>
    <br>
<% }); %>

<h2>Create a Review</h2>
<form action="/decks/<%= deck.id %>/reviews" method="POST">
    <textarea placeholder="Leave a review..." name="review[body]" cols="30" rows="10"></textarea>
    <br>
    <label for="reviewRating">Rate from 1-5:</label>
    <input type="number" id="reviewRating" name="review[rating]" min="1" max="5" step="1" required>
    <br>
    
    <input type="submit">
</form>

<h3>Reviews</h3>
<% deck.reviews.forEach(function(review) { %>
    <div>
        Author: <%= review.author.username %>
        <br>
        <%= review.body %>
        <br>
        Rating: <%= review.rating %>
    </div>
    <div>
        <button class="toggle-edit-form">Edit</button>

        <form action="/decks/<%= deck.id %>/reviews/<%= review.id %>?_method=PUT" method="POST" class="edit-review-form">
            <textarea placeholder="Leave a review..." name="review[body]" cols="30" rows="10"><%= review.body %></textarea>
            <br>
            <label for="reviewRating">Rate from 1-5:</label>
            <input type="number" id="reviewRating" name="review[rating]" min="1" max="5" step="1" value="<%= review.rating %>" required>
            <br>
            
            <input type="submit" value="Update">
        </form>
    </div>
    <hr>
<% }); %>

<!--
Deck
- title - string
- description - string
- cards - array of objects ref Card
- reviews - array of objects ref Review
- author - object id (ref user)
-->

<script src="/javascripts/deck-show.js"></script>