<% layout('layouts/boilerplate') -%>

<a class="text-dark" href="/decks/<%= deck.id %>"><h1><%= deck.title %></h1></a>

<div id="test-form" class="text-center card">
    <div>
        <img src="" width="200" id="image" />
        <div class="alert alert-danger" id="incorrect-count"></div>
        <h2 id="question" class="m-5"></h2>
    </div>
    
    <input id="ans-input" class="form-control p-4" type="text" placeholder="Answer" autofocus>
    <input id="submit" type="submit" class="btn btn-primary">
</div>

<div id="end-form" class="text-center card">
    <div class="button-group">
        <a class="btn btn-primary" href="/decks/<%= deck.id %>">View Deck</a>
        <a class="btn btn-secondary" href="/decks/<%= deck.id %>/test">Try Again</a>
    </div>
</div>

<div>
    <div class="animated alert alert-success text-center mt-5 fade" id="correct-display">
        Good job!
    </div>
    <div class="animated alert alert-danger text-center mt-5 fade" id="incorrect-display">
        Try again!
        <div class="btn btn-danger" role="button" id="skip-one">Skip?</div>
    </div>
</div>

<% if(deck && deck.cards) { %>
    <script type="text/javascript">
        const mydeck = <%- JSON.stringify(deck.cards.map(e => {
            if(e.image && e.image.url) return { question: e.question, answer: e.answer, image: { url: e.image.url } }
            else return { question: e.question, answer: e.answer }
        })) %>
    </script>
<% } %>

<script src="/javascripts/deck-test.js"></script>