<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 deck-header-container">
            <h1><%= deck.title %></h1>

            <% if(deck.image && deck.image.url) { %>
                <div>
                    <img src="<%= deck.image.url %>" alt="Deck image" width="200">
                </div>
            <% } %>
        </div>
        <div class="col-lg-8 col-md-6 deck-header-container">
            <div class="deck-header-info">
                <div><%= deck.description %></div>
                <br>
                <% if(deck.subjects && deck.subjects.length) { %>
                    <div>
                        Subjects: 
                        <% deck.subjects.forEach(function(subj, i) { %><%= i > 0 ? ', ' : '' %><%= subj %><% }); %>
                    </div>
                    <br>
                <% } %>
                <div>
                    Average Rating: <%= deck.avgRating %>
                    <p class="starability-result" data-rating="<%= roundedAvgRating %>">
                        Rated: <%= roundedAvgRating %> stars
                    </p>
                </div>
                <div>
                    <a class="btn btn-info <%= deck.cards.length ? '' : 'disabled' %>" href="/decks/<%= deck.id %>/review">
                        Review
                    </a>
                    <a class="btn btn-success <%= deck.cards.length ? '' : 'disabled' %>" href="/decks/<%= deck.id %>/test">
                        Test
                    </a>
                </div>
                <% if(currentUser && deck.author.equals(currentUser._id)) { %>
                    <%- include('../../form-modal', { action: `/decks/${deck.id}?_method=DELETE`, target: 'delDeckWarning', title: 'Warning', text: 'Your deck and all of its cards & reviews will be deleted forever. Are you sure?', btnText: 'Delete', btnClass: 'btn-danger' }) %>
                    <div class="mt-3">
                        <a class="btn btn-primary" href="/decks/<%= deck.id %>/cards/new">
                            Add card(s)
                        </a>
                        <a class="btn btn-secondary" href="/decks/<%= deck.id %>/edit">
                            Edit
                        </a>
                        <div class="btn btn-delete">
                            <button class="btn btn-danger" role="button" data-toggle="modal" data-target="#delDeckWarning">Delete</button>
                        </div>
                    </div>
                <% } %>
            </div>
            <% if(!deck.public) { %>
                <p class="text-danger mt-2">This deck is private, meaning only you can access it.</p>
            <% } %>
        </div>
    </div>
</div>
